
[Desktop Entry]
Type=Application
Exec=/usr/bin/mail-notification
Hidden=false
X-MATE-Autostart-enabled=true
Name[POSIX]=mail notification
Name=mail notification
Comment[POSIX]=Mail notification daemon
Comment=Mail notification daemon
Icon=mail-unread
