#!/bin/sh
[ -z "$_INITVARS" ] && . "$HOME/.initvars"

case "$_INIT" in
	*"x($DISPLAY)"*)
	mylog session ".xprofile ($0 $@ DISPLAY=$DISPLAY) [already read]"
  ;;
*)
	mylog session ".xprofile ($0 $@ DISPLAY=$DISPLAY)"
	_INIT="${_INIT}x($DISPLAY)"
	export _INIT

case "$_INIT" in
	*e*) ;;
	*) . "$HOME/.initenv";;
esac

XPID=$$
export XPID

#Set up $DM
#==========

if [ -n "$DESKTOP_SESSION" ]; then
	DM="$DESKTOP_SESSION"
	mylog "session" ".xprofile -> Using DESKTOP_SESSION: DM=$DM"
else
	if [ -n "$1" ]; then
		DM="$1"
		mylog "session" ".xprofile: Using argument: DM=$DM"
	fi
fi
if [ -z "$DM" -o "x$DM" = "xxsession" ]; then
	[ -f "$HOME/.xprops" ] && . "$HOME/.xprops"
	DM="$DEFAULTDM"
	mylog "session" ".xprofile: Using default: DM=$DM"
fi
export "$DM"

# Resources
# =========

[ -f "$HOME/.Xresources" ] && xrdb -merge "$HOME/.Xresources"
[ -f "$HOME/.Xresources.local" ] && xrdb -merge "$HOME/.Xresources.local"
[ -f "$HOME/.Xkbmap" ] && setxkbmap $(cat $HOME/.Xkbmap)

# Launch programs
# ===============

if [ -x /usr/bin/systemctl ]; then
	#by defaut startx does not put SI:localuser:dams in xhost
	#(while gdm seems to do it), so we add that
	#so that the programs launched by systemd can access the display
	xhost + SI:localuser:$UID
	if systemctl --user --no-pager >/dev/null 2>&1; then
		systemctl --no-block --user  start "xsession@${DISPLAY}.target"
	else
		exec /usr/lib/systemd/systemd --user --unit="xsession@${DISPLAY}.target" &
	fi
fi

# Customizations
# ==============

case "$DM" in
	fvwm) #I still want a notification daemon
		for notificationd in "/usr/lib/notification-daemon-1.0/notification-daemon" "/usr/lib/xfce4/notifyd/xfce4-notifyd"; do
			if [ -x "$notificationd" ]; then
				exec "$notificationd" &
				break
			fi
		done
		;;
	fvwm-xfce)
		#launch some of the components of a standard xfce session
		exec xfce4-panel &
		exec xfsettingsd &
		#exec xfdesktop &
		#exec xfce4-power-manager &
		#exec system-config-printer-applet &
		#exec start-pulseaudio-x11 &
		exec feh --bg-scale "$HOME/mine/wallpaper/desktop.png" &
		;;
  xfce )
    rm -f "$HOME/.cache/sessions/xfce4-session-$HOSTNAME${DISPLAY%.?}"
    ;;
esac
;;
esac
