[mailwatch-plugin]
click_command=checkmail --notify
new_messages_command=
normal_icon=xfce-nomail
new_mail_icon=xfce-newmail
log_lines=200
show_log_status=true
auto_open_online_doc=false

[mailwatch]
nmailboxes=4
mailbox0=maildir
mailbox_name0=gmail-dor
mailbox1=maildir
mailbox_name1=gmail-ploum.plam
mailbox2=maildir
mailbox_name2=inria
mailbox3=maildir
mailbox_name3=phare

[mailbox0]
path=/home/imb/damienrobert/Mail/damien.olivier.robert@gmail/Inbox
mtime=1479376520
interval=300

[mailbox1]
path=/home/imb/damienrobert/Mail/ploum.plam@gmail/Inbox
mtime=1477945470
interval=300

[mailbox2]
path=/home/imb/damienrobert/Mail/inria/Inbox
mtime=1479370213
interval=300

[mailbox3]
path=/home/imb/damienrobert/Mail/phare/Inbox
mtime=1479292686
interval=300

