ACTION=="remove", GOTO="net_name_slot_end"
SUBSYSTEM!="net", GOTO="net_name_slot_end"
NAME!="", GOTO="net_name_slot_end"

ATTR{address}=="08:60:6e:e6:08:c7", NAME="eth0"
ATTR{address}=="dc:85:de:74:f5:f5", NAME="wlan0"

LABEL="net_name_slot_end"

# This file masks persistent renaming rules for network devices. If you
# delete this file, /usr/lib/udev/rules.d/80-net-name-slot.rules may
# rename network devices according to ID_NET_NAME_{ONBOARD,SLOT,PATH}
# properties of your network devices, with priority in that order. See
# the output of 'udevadm test-builtin net_id /sys/class/net/$interface'
# for details on what that new name might be.
# 
# http://www.freedesktop.org/wiki/Software/systemd/PredictableNetworkInterfaceNames
