[Unit]
Description=conky on display %I
PartOf=xsession@.target
ConditionPathExists=%h/.conkyrc
ConditionFileIsExecutable=/usr/bin/conky

[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/conky
Restart=always
RestartSec=1
Nice=10
StandardOutput=null

[Install]
WantedBy=xsession@.target
Also=xwatch@.service
