[Unit]
Description=Music Player Daemon
After=sound.target
ConditionFileIsExecutable=/usr/bin/mpd

[Service]
ExecStart=/usr/bin/mpd --no-daemon --stdout
Restart=always

[Install]
WantedBy=session.target
