/dotfiles/.gnupg/random_seed
/dotfiles/.gnupg/gpg-agent-info-fuji33.math.u-bordeaux1.fr
/dotfiles/.mutt/muttrc.mailboxes
/dotfiles/.vim/.netrwhist
/dotfiles/.fonts
hosttype.local
authorized_keys

#zsh compiled scripts
*.bak
*.zwc
*.zwc.old
