#!/bin/sh
. $MYFILES/.initlog

if [ "x$_INITXPROFILE" != "x$DISPLAY" ]; then

  [ -z "$_INITENV" ] && . "$HOME/.initenv"
  mylog session ".xprofile ($0 $@)" 
  _INITXPROFILE="$DISPLAY";
  export _INITXPROFILE;

export XPID
XPID=$$

#. $MYFILES/.Xresources-generate
xrdb -merge "$HOME"/.Xresources
[ -f "$HOME/.Xresources.local" ] && xrdb -merge "$HOME"/.Xresources.local
[ -f "$HOME/.Xkbmap" ] && setxkbmap $(cat $HOME/.Xkbmap)

##################################################

case "$MYHOSTNAME" in 
  Gondolin|Durin)
  for notificationd in "/usr/lib/notification-daemon-1.0/notification-daemon" "/usr/lib/xfce4/notifyd/xfce4-notifyd"; do
    if [ -x "$notificationd" ]; then
      exec "$notificationd" &
      break
    fi
  done
  ;;
  #Feanor)
  ##export $(gnome-keyring-daemon -s --components=gpg,pkcs11,secrets,ssh)
  #;;
esac

case "$MYHOSTTYPE" in
  perso)
    #by defaut startx does not put SI:localuser:dams in xhost
    #(while gdm seems to do it), so we add that
    #so that the programs launched by systemd can access the display
    xhost + SI:localuser:$UID
    if systemctl --user --no-pager >/dev/null 2>&1; then
      systemctl --no-block --user  start "xsession@${DISPLAY}.target"
    else
      exec /usr/lib/systemd/systemd --user --unit="xsession@${DISPLAY}.target" &
    fi
    ;;
  imb)
    exec mail-notification &
    ;;
esac

else
mylog session ".xprofile: already read" 
fi
