prefix = ${HOME}/opt/pkgmgr/npm
cache  = ${HOME}/.cache/npm
init-author-name = Damien Robert
init-author-email = Damien.Olivier.Robert+npm@gmail.com
init-author-url = http://www.normalesup.org/~robert/perso/
init-version = "0.1.0"
