[Unit]
Description=checkmail on display %I
PartOf=xsession@.target

[Service]
Environment=DISPLAY=%I
ExecStart=/bin/sh -c 'exec %h/mine/script/checkmail --daemon --notify --body'
Restart=on-failure
RestartSec=1

[Install]
WantedBy=xsession@.target
