[Unit]
Description=D-Bus System Message Bus

[Service]
ExecStart=/usr/bin/dbus-daemon --session --address=unix:path=/run/user/%U/dbus_session_bus --nofork
ExecReload=/usr/bin/dbus-send --print-reply --session --type=method_call --dest=org.freedesktop.DBus / org.freedesktop.DBus.ReloadConfig
Restart=always

[Install]
WantedBy=session.target
