[Unit]
Description=Offlineimap
ConditionFileIsExecutable=/usr/bin/offlineimap

[Service]
ExecStartPre=/bin/sh -c 'exec %h/mine/script/get_authinfo wait'
ExecStart=/usr/bin/offlineimap -u Basic
Restart=on-failure
Nice=19
EnvironmentFile=%h/mine/config/hosttype.local
StandardInput=null
TimeoutStartSec=300

[Install]
WantedBy=session.target
