[Unit]
Description=PulseAudio Sound System
Before=sound.target
ConditionFileIsExecutable=/usr/bin/pulseaudio

[Service]
ExecStart=/usr/bin/pulseaudio
Restart=always

[Install]
WantedBy=session.target
