[Settings]
ShowAllProcesses=FALSE
MorePrecision=TRUE
FullCommandLine=FALSE
ShowStatusIcon=TRUE
RefreshRate=750
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=TRUE
ColumnVSZ=TRUE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=TRUE
SortColumn=0
SortType=0
WindowWidth=1912
WindowHeight=1054
