# GENERATE
[Match]
Name=en* eth* usb* wl*

[Network]
DHCP=ipv4
MulticastDNS=true
<% if @computer.name=~/Doriath/ %>
# [DHCP]
# UseDNS=false
<% end %>
